.feed-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post {
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 500px;    
  margin: 0 auto;
}

.post-img {
  width: 100%;        
  height: 100%;       
  object-fit: cover;  
  display: block;
  margin: 0;          
}

.btn-outline-success{
  margin: 10px;
  background-color: green;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;    
  align-items: center;      
  gap: 20px;
  font-size: 24px;
  padding: 10px 20px;
}

.icons i {
  cursor: pointer;
}

.post-header {
  font-weight: bold;
  padding: 10px;
}

.post-body {
  padding: 10px;
}
